*{
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
nav{
  width: 100%;
  height: 70px;
  background-color: #176533;
  color: #fff;
  position: fixed;

}
nav ul{
  list-style: none;
  text-align: center;
  margin-left: 500px;

}
nav ul li{
  display: inline-block;
  text-align: center;
  height: 60px;
  line-height: 60px;
  width: 150px;
  position: relative;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}
/*a:hover{
  color:#222;
}*/
/*nav ul li:hover:before{
  content: ' ';
  border: 15px solid #fff;
  position: absolute;
  left: 0px; top: 10px;
  right: 0px;
  border-color: #fff transparent  transparent transparent
}
*/nav ul li:hover:after{
  content: '';
  border: 5px solid #fff;
  position: absolute;
  left: 30px; bottom: 10px;
  right: 30px;
  border-color: #fff transparent transparent transparent 
}
.home{
  width: 100%;
  height: 600px;
  background-image: url(../img/carOpacity2.jpg); 
  background-size: 100% auto;
  padding-top: 60px;
  background-position: 0px 55px;
  background-image: cover;
}
.home div{
  width: 100%;
  margin-top: 185px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.home div h1{
  font-size: 60px;
  font-weight: 700px;
  margin: 14px 0px;


}
.home div h3{
  font-size: 20px;
}
.about{
  width: 100%;
  height: 400px;
  padding-top: 50px;

}
.about h2{
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 20pt;
  color: #176533;

}
.about h2 hr{
   margin-left: 450px;
    width: 10%;
    position: relative;
    bottom: 17px;
    height: 1px;
    background-color: #000;
}
.about div{
    min-height: 250px;
    padding: 20px;
    margin-bottom: 10px;
    margin: 0 auto;
    margin-left:  180px;
    width: 1000px;
    line-height: 1.7;
    font-size: 20px;
    box-shadow: 0px 0px 10px #222;
    padding: 30px;
}
.services{
  width: 100%;
  height: 500px;
}
.services .services-row{
  width: 95%;
  margin: auto;
  height: 450px;
  display: flex;
}
.services .services-row .service-item{
  width: 30%;
  margin: auto;
  height: 450px;
  
}
.services .services-row .service-item img{
  width: 90%;
  margin: auto;
  height: 230px;
  
}
footer{
    
    padding: 10px;
    background-color:#176533;
    text-align:center;
    color:#fff;
}
hr{
    width:40%;
    margin: 0 auto;
}
i{
    margin:20px;
    width:25px;
    height: 25px;
    padding: 10px 5px 0px 5px;
    background-color: rgb(57, 12, 12);
    border-radius: 50%;
}